.mainDiv {
    padding-bottom: 30px;
}

.profileInfo,
.profileInfoReversed {
    display: flex;
    gap: 20px;
}

.profileInfoReversed {
    flex-direction: row-reverse;
}

.profilePicture {
    border-radius: 100%;
    object-fit: cover;
}

.profileInfoText {
    margin-top: -25px;
    display: flex;align-items: center;
    gap: 35px;
}

.timeReversed {
    padding-right: 100px;
}

.messagesContainer,
.messagesContainerReversed {
    display: flex;
}

.messagesContainerReversed {
    flex-direction: row-reverse;
}

.messages {
    padding-left: 100px;
}

.messagesReversed {
    padding-right: 100px;
}