.mainDiv {
    position: relative;
}

.profileInfo,
.profileInfoReversed {
    display: flex;
    gap: 20px;
}

.profileInfoReversed {
    flex-direction: row-reverse;
}

.profilePicture {
    border-radius: 100%;
    object-fit: cover;
}

.profileInfoText {
    margin-top: -25px;
    display: flex;align-items: center;
    gap: 35px;
}
.time,
.timeReversed {
    font: 400 14px 'Montserrat';
    color: #8F8F8F;
    width: max-content;
    position: absolute;
}
.time {
    right: 0;
}
.timeReversed {
    left: 0;
}

@media (min-width: 600px) {
    .timeReversed,
    .time {
        position: static;
    }
    .timeReversed {
        padding-right: 100px;
    }
}

/* .messagesContainer,
.messagesContainerReversed {
    display: flex;
}

.messagesContainerReversed {
    flex-direction: row-reverse;
}

.messages {
    padding-left: 50px;
}

.messagesReversed {
    padding-right: 50px;
}

@media (min-width: 600px) {
    .messages {
        padding-left: 100px;
    }
    
    .messagesReversed {
        padding-right: 100px;
    }
} */