.mainDiv {
    margin: 0;
    padding: 0;
    top: 236px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}

.componentDiv {
    width: 550px;
    max-width: 1440px;
    border-radius: 10px;
    margin-bottom: 125px;
    background: #FFFFFF;
    padding: 100px 60px 50px 60px;
    border: 1px solid #DADADA;
}

.heading {
    padding-bottom: 20px;
}

.subHeading {
    color: #000000;
    padding-bottom: 70px;
}

.inputDiv {
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: #201F1F;
    line-height: 24px;
    font-style: normal;
    padding-bottom: 25px;
}

.input {
    width: 98%;
    height: 40px;
    margin-top: 10px;
}

.buttonDiv button {
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: #324544;
    font-weight: 700;
    line-height: 20px;
    font-style: normal;
    border-radius: 20px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 1px solid #324544;
}

.bottomDiv p {
    font-size: 14px;
    color: #B2B2B2;
    font-weight: 600;
    line-height: 17px;
    font-style: normal;
    margin-bottom: 15px;
}

.bottomDiv p span {
    color: #324544;
}

.imageDiv {
    display: flex;
    padding-top: 20px;
    align-items: flex-end;
    justify-content: flex-end;
}
@media (max-width: 1024px) {
    .componentDiv {
        width: 500px;
        padding: 100px 50px 50px 50px;
    }
}

@media (max-width: 768px) {
    .componentDiv {
        width: 60%;
    }
}

@media (max-width: 576px) {
    .mainDiv {
        top: 160px;
    }

    .componentDiv {
        width: 100%;
        border-radius: 0;
        padding: 35px 50px;
    }

    .subHeading {
        text-align: left;
        color: #000000;
        padding-bottom: 60px;
    }

    .inputDiv {
        font-size: 16px;
        padding-bottom: 20px;
    }

    .input {
        height: 50px;
        margin-top: 6px;
    }

    .imageDiv {
        display: none;
    }

    .buttonDiv button {
        margin-bottom: 50px;
    }
}