.mainDiv {
    margin: 0;
    padding: 0;
    top: 236px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
}
.componentDiv {
    width: 70%;
    max-width: 1440px;
    border-radius: 10px;
    margin-bottom: 125px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    padding: 45px 90px 125px 90px;
}
.sectionDiv {
    width: 100%;
    margin-bottom: 30px;
}
.descriptionBoxDiv {
    padding: 40px;
    background: #FFFFFF;
    border: 0.923974px solid #DADADA;
    border-radius: 9.23974px;
    margin: 40px 0;
}
.descHeaderDiv {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #324544;
}
