.mainDiv {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.halfImageOneDiv {
  top: 400px;
  width: 20%;
  height: 50%;
  right: 0;
  position: absolute;
}
.halfImageTwoDiv {
  top: 570px;
  left: -12%;
  width: 30%;
  height: 50%;
  position: absolute;
}
.componentDiv {
  max-width: 1440px;
  padding: 60px 90px;
}
.headerDiv {
  font-size: 44px;
  font-weight: 600;
  color: #324544;
  line-height: 54px;
  text-align: center;
  padding-bottom: 30px;
}
.paragraph {
  font-size: 24px;
  font-weight: 500;
  color: #324544;
  line-height: 29px;
  text-align: center;
  font-style: normal;
  padding-bottom: 70px;
}
.cardsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.backgroundImageDiv {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  margin: 40px 0 100px 0;
  justify-content: center;
}
.image {
  object-fit: contain;
}
.author {
  position: absolute;
  bottom: -10%;
  width: 100%;
}

@media (max-width: 1024px) {
  .halfImageOneDiv {
    display: none;
  }
  .halfImageTwoDiv {
    display: none;
  }
  .componentDiv {
    padding: 60px 60px;
  }
  .image {
    width: 768px;
    height: 432px;
  }
  .backgroundImageDiv {
    margin: 40px 0 0 0;
    flex-direction: column;
  }
  .author {
    margin: 60px 0 0 0;
    position: static;
  }
}

@media (max-width: 768px) {
  .componentDiv {
    padding: 30px 50px;
  }
  .headerDiv {
    font-size: 22px;
    line-height: 27px;
  }
  .paragraph {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 30px;
  }
  .cardsDiv {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .componentDiv {
    padding: 30px 20px;
  }
  .backgroundImageDiv {
    flex-direction: column;
  }
  .author {
    position: static;
  }
}
