.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topDiv {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.chevronIcon {
    cursor: pointer;
}

.bottomDiv {
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    width: 450px;
    height: 80px;
    overflow-x: hidden;
    position: relative;
    /* background-color: #B0B0B0; */
}

.dateDivContainer {
    transition: .5s ease;
    display: flex;
    position: absolute;
}

.dateDiv {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 55px;
    min-width: 55px;
    height: 70px;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    border: 3px solid #F4F4F4;
}

.dayText {
    font-size: 9px;
    font-weight: 600;
    color: black;
}

.weekdayText {
    font-size: 9px;
    font-weight: 400;
    color: #B0B0B0;

}