.mainDiv {
    display: flex;
    background-color: #FDFDFD;
}

.hideComponent {
    display: none;
}

@media (min-width: 1100px) {
    .hideComponent {
        display: flex;
    }
    .emptyChatDiv {
        flex: 1;
    }
}