.sidebarDiv {
  display: flex;
  height: 100vh;
  position: fixed;
  width: 4rem; /* 80px */
  flex-direction: column;
  padding: 25px 15px; /* 16px */
  background-color: #324544;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.itemsDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.itemLogoDiv {
  padding-bottom: 50px;
}
.itemDiv {
  padding-bottom: 35px;
  position: relative;
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  font-size: 28px;
  color: #ffffff;
}
.selectArrow,
.selectArrowSelected {
  opacity: 0;
  color: #ffffff;
  font-size: 35px;
  position: absolute;
  right: -44px;
  transition: .5s ease;
}
.itemDiv:hover .selectArrow,
.selectArrowSelected {
  opacity: 1;
}
.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding: 8px 6px 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: .5s ease;
}
.logoutBtn:hover {
  background-color: #435b5a;
}

