.mainDiv,
.mainDivReversed {
    padding: 15px 30px;
    border-radius: 10px;
    max-width: 300px;
    margin: 10px 0;
}

.mainDiv {
    background-color: var(--light-grey);
}

.mainDiv div {
    color: var(--black);
}

.mainDivReversed {
    background-color: var(--black);
    color: var(--light-grey);
}

.mainDivReversed div {
    color: var(--light-grey);
}