.mainDiv {
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.chartWrapper {
  background-color: #fafafa;
  padding: 28px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chartHeader {
  font: var(--body-2);
  padding-bottom: 10px;
  width: 68%;
}

.chartSubHeader {
  font: var(--body-7);
  padding-bottom: 20px;
}

.leftDiv {
  display: flex;
  flex-direction: row;
}
.rightDiv {
  flex: -1;
}
.downloadButtonWeekly {
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #007542;
  background-color: #bdfc97;
  color: #007542;
}
.downloadButtonDaily{
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #1F2F98;
  background-color: #9bd2f7;
  color: #1F2F98;
}
.icon {
  margin-right: 5px;
}

.filterText {
  font-size:14px;
  margin-bottom: 10px;
}

.datePicker {
  width: 400px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid rgb(148, 132, 132);
}