.mainDiv {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.componentDiv {
    width: 100%;
    max-width: 1440px;
    padding: 100px 60px;
    display: flex;
}
.leftDiv {
    width: 50%;
    padding-right: 20px;
}

.rightDiv {
    width: 50%;
   
}
.header {
    padding-bottom: 40px;
    font-weight: 600;
}
.paragraph {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #003F5E;
}

@media (max-width: 768px) {
    .componentDiv {
        flex-direction: column-reverse;
    }
    .leftDiv {
        width: 100%;
        padding: 50px 0;
    }
    
    .rightDiv {
        width: 100%;
       
    }
}
