.mainDiv {
  position: absolute;
  top: 390px;
  height: 548px;
  width: 100%;
  background-color: rgba(50, 69, 68, 0.8);
  display: flex;
  justify-content: center;
}
.componentDiv {
  width: 100%;
  max-width: 1440px;
  padding: 60px 90px;
  display: flex;
  align-items: center;
}
.authorDiv {
  display: flex;
  align-items: center;
}
.authorImage {
  width: 30%;
  border-radius: "5px";
  overflow: "hidden";
  padding-right: 100px;
}
.authorDescription {
  width: 70%;
  color: #fff;
  font-size: 24px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
}
