@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* Colors */
  --light-grey: #f5f5f5;
  --grey: #a6a6a6;
  --border-grey: #e7e7e7;
  --black: #324544;
  --white: #fdfdfd;

  /* Fonts */
  --heading-1: 600 44px "Montserrat";
  --heading-2: 500 40px "Montserrat";
  --heading-3: 600 32px "Montserrat";
  --heading-4: 500 32px "Montserrat";
  --heading-5: 500 30px "Montserrat";
  --heading-6: 500 24px "Montserrat";
  --body-1: 500 20px "Montserrat";
  --body-2: 600 18px "Montserrat";
  --body-3: 400 18px "Montserrat";
  --body-4: 600 16px "Montserrat";
  --body-5: 400 16px "Montserrat";
  --body-6: 500 12px "Montserrat";
  --body-7: 400 12px "Montserrat";
  --btn-text: 700 14px "Montserrat";
  --btn-text-mobile: 700 12px "Montserrat";
}

.body-1 {
  font: var(--body-1);
}
.body-2 {
  font: var(--body-2);
}
.body-4 {
  font: var(--body-4);
}

h1 {
  font: var(--heading-1);
}
h2 {
  font: var(--heading-2);
}
h3 {
  font: var(--heading-3);
  margin: 0;
}
h4 {
  font: var(--heading-4);
}
h5 {
  font: var(--heading-5);
}
h6 {
  font: var(--heading-6);
  margin: 0;
}

.bg-color {
  background: #ffffff;
}
.min-h-screen {
  min-height: 100%;
}
.page-heading {
  /* font-family: "Montserrat"; */
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #324544;
}
.page-subheading {
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.body-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #324544;
}
.body-font {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #8f8f8f;
}
.flex {
  display: flex;
}
.main-padding {
  padding: 30px 60px;
}
body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  color: #324544;
  line-height: 49px;  
  font-style: normal;
    padding-bottom: 50px;
}

h3 {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;  
  color: #324544;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0;
  margin: 0;
  color: #8F8F8F;
}

@media (max-width: 576px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}